<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <title>Hello, world!</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="https://d1muf25xaso8hp.cloudfront.net/https://img.criativodahora.com.br/2023/10/MjMvMTAvMjAyMyAwOGg0Ng==65365d2952196.jpeg?w=1000&h=&auto=compress&dpr=1&fit=max" width="30"> </img>

    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sistema de Vendas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-a  uto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>

            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <h1>Conteudo</h1>

    <div class="row">
        <div class="col-md-3">

            <ul class="list-group" style="margin-top: 10px;">
                <li class="list-group-item active" aria-current="true"><i  class="fa-solid fa-gear"></i> Funcionalidades</li>
                <a href="/cadastroVenda"><li class="list-group-item">Efetuar Venda</li></a>
                <a href="/listarVenda"><li class="list-group-item">Listar Vendas</li></a>

                <a href="/cadastroEntrada"><li class="list-group-item">Efetuar entrada de produtos </li></a>
                <a href="/listarEntrada"><li class="list-group-item">Listar entrada de produtos </li></a>



                <li class="list-group-item active" aria-current="true"><i class="fa-solid fa-plus"></i> Cadastros</li>
                <a href="/cadastroEstado"> <li class="list-group-item">Cadastro Estado</li></a>
                <a href="/cadastroCidade"> <li class="list-group-item">Cadastro Cidade</li></a>
                <a href="/cadastroFuncionario"> <li class="list-group-item">Cadastro Funcionario</li></a>
                <a href="/cadastroCliente"> <li class="list-group-item">Cadastro Cliente</li></a>
                <a href="/cadastroFornecedor"> <li class="list-group-item">Cadastro Fornecedor</li></a>
                <a href="/cadastroProduti"> <li class="list-group-item">Cadastro Produto</li></a>


                <li class="list-group-item active" aria-current="true"><i class="fa-solid fa-list"></i> Listas</li>
                <a href="/listarEstado"><li class="list-group-item">Listar Estados</li></a>
                <a href="/listarCidade"> <li class="list-group-item">Cadastro Cidade</li></a>
                <a href="/listarFuncionario"> <li class="list-group-item">Cadastro Funcionario</li></a>
                <a href="/listarCliente"> <li class="list-group-item">Cadastro Cliente</li></a>
                <a href="/listarFornecedor"> <li class="list-group-item">Cadastro Fornecedor</li></a>
                <a href="/listarProduti"> <li class="list-group-item">Cadastro Produto</li></a>

            </ul>

        </div>


        <div class="col-md-9">
            <h1> Bem vindos ao Sistema de Vendas</h1>
            <p> Rápido e intuitivo <p>
            <p> @Feito em 2025, por César Ribeiro <p></p>

        </div>
    </div>
</div>

</body>
</html>